<!doctype html>
<html>
  <head>
    <!-- <title><%= productName %></title> -->
    <title>
      Centro Automotivo Mattos - Oficina Mecânica em Campo Grande MS | Revisão e Manutenção
    </title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Centro Automotivo Mattos: oficina mecânica em Campo Grande MS. Revisão, troca de óleo, freios e mais com agilidade e preço justo. Agende agora! (67) 9999-9999."
    />
    <!-- <meta name="description" content="<%= productDescription %>" /> -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GBC9ECP80Y"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-GBC9ECP80Y', { send_page_view: false })
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
