<!doctype html>
<html>
  <head>
    <!-- <title><%= productName %></title> -->
    <title>Centro Automotivo Mattos - Oficina em Campo Grande MS</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Oficina mecânica em Campo Grande MS desde 1998. Serviços: motor, câmbio, suspensão, ar-condicionado, óleo, freios e mais."
    />
    <!-- <meta name="description" content="<%= productDescription %>" /> -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GBC9ECP80Y"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-GBC9ECP80Y', { send_page_view: false })
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
