// app global css in SCSS form
.bebas-font {
  font-family: 'Bebas Neue', sans-serif;
  //font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  //font-style: normal;
  line-height: 1.2;
  letter-spacing: 2px;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

.button-primary {
  border-radius: 10px;
  color: $primary;
  padding: 15px;
  font-size: 20px;
  font-weight: medium;
  background-color: #fff;

  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

.title-primary {
  //font-size: clamp(28px, 4vw, 42px);
  font-size: 58px;
  font-weight: medium;
}

.title-secondary {
  font-size: clamp(22px, 2.5vw, 26px);
  font-weight: bold;
}
.subtitle-primary {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.texto-primary {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.texto-secondary {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: $grey-9;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
