// app global css in SCSS form
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

.button-primary {
  border-radius: 25px;
  color: $primary;
  font-weight: bold;
  background-color: #fff;

  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

.title-primary {
  font-size: clamp(28px, 4vw, 42px);
  font-weight: bold;
}

.title-secondary {
  font-size: clamp(22px, 2.5vw, 26px);
  font-weight: bold;
}

.texto-primary {
  font-size: 16px;
  font-weight: 300; 
  margin: 0;
}

.texto-secondary {
  font-size: 14px;
  font-weight: 300; 
  margin: 0;
  color: $grey-9;
  
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
